$font-color-payouts: #f55767 ;
$font-color-effect: #2563ff;
$font-color-rewards: #40975f;
$font-color-parag:#616368;
$font-style: Myriad Pro;
$font-size-parag: 1rem;
$font-size-title: 1.25rem;
$font-title-mb: 1rem;
$icon-mb:2.5rem;


