//variables Section 3 : 
$font-color-payouts: #f55767 ;
$font-color-effect: #2563ff;
$font-color-rewards: #40975f;
$font-color-parag:#616368;
$font-style: Myriad Pro;
$font-size-parag: 1rem;
$font-size-title: 1.25rem;
$font-title-mb: 1rem;
$icon-mb:2.5rem;

//variables menu :
$color : #242f51;
$font_size : 1rem;
$font_family: "Poppins" , regular;
$font_weight: 500;

//section 2
$Button-Color: #f55767;
$titre-color: #242f51;
$text-color: #616368;
$titre-size:2.25rem;
$text-size:1rem;



